$size: 40px;

.hearts {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 0;
	overflow: hidden;

	&__item {
		position: absolute;
		height: $size;
		width: $size;
		line-height: $size;
		color: white;
		font-size: $size;
		text-align: center;
		user-select: none;
		text-shadow: 0 0 10px white;
    filter: drop-shadow(0 0 5px #ff20dd55);
	}
}

@keyframes fall-down {
	from {
		top: -50px;
	}
	to {
		top: 100vh;
	}
}

.hearts__item:nth-child(1) {
	opacity: 0.3999;
	transform: translateX(10.0107vw) scale(0.8937);
	animation: fall-1 6.6666666667s -8s ease-in-out infinite,
		fall-down 20s -8s linear infinite;
}

@keyframes fall-1 {
	50% {
		transform: translateX(11.1673vw) scale(0.8937);
	}
	to {
		transform: translateX(10.0107vw) scale(0.8937);
	}
}
.hearts__item:nth-child(2) {
	opacity: 0.5416;
	transform: translateX(64.1499vw) scale(0.531);
	animation: fall-2 4.3333333333s -1s ease-in-out infinite,
		fall-down 13s -1s linear infinite;
}

@keyframes fall-2 {
	50% {
		transform: translateX(66.6933vw) scale(0.531);
	}
	to {
		transform: translateX(64.1499vw) scale(0.531);
	}
}
.hearts__item:nth-child(3) {
	opacity: 0.6047;
	transform: translateX(69.3311vw) scale(0.8079);
	animation: fall-3 9.6666666667s -11s ease-in-out infinite,
		fall-down 29s -11s linear infinite;
}

@keyframes fall-3 {
	50% {
		transform: translateX(68.4156vw) scale(0.8079);
	}
	to {
		transform: translateX(69.3311vw) scale(0.8079);
	}
}
.hearts__item:nth-child(4) {
	opacity: 0.6171;
	transform: translateX(89.5991vw) scale(0.7082);
	animation: fall-4 8.3333333333s -25s ease-in-out infinite,
		fall-down 25s -25s linear infinite;
}

@keyframes fall-4 {
	50% {
		transform: translateX(86.3097vw) scale(0.7082);
	}
	to {
		transform: translateX(89.5991vw) scale(0.7082);
	}
}
.hearts__item:nth-child(5) {
	opacity: 0.3147;
	transform: translateX(57.9913vw) scale(0.9651);
	animation: fall-5 4s -9s ease-in-out infinite, fall-down 12s -9s linear infinite;
}

@keyframes fall-5 {
	50% {
		transform: translateX(53.9556vw) scale(0.9651);
	}
	to {
		transform: translateX(57.9913vw) scale(0.9651);
	}
}
.hearts__item:nth-child(6) {
	opacity: 0.6447;
	transform: translateX(92.7615vw) scale(0.7856);
	animation: fall-6 6s -20s ease-in-out infinite, fall-down 18s -20s linear infinite;
}

@keyframes fall-6 {
	50% {
		transform: translateX(95.586vw) scale(0.7856);
	}
	to {
		transform: translateX(92.7615vw) scale(0.7856);
	}
}
.hearts__item:nth-child(7) {
	opacity: 0.7112;
	transform: translateX(5.6957vw) scale(0.8991);
	animation: fall-7 5.6666666667s -29s ease-in-out infinite,
		fall-down 17s -29s linear infinite;
}

@keyframes fall-7 {
	50% {
		transform: translateX(4.3005vw) scale(0.8991);
	}
	to {
		transform: translateX(5.6957vw) scale(0.8991);
	}
}
.hearts__item:nth-child(8) {
	opacity: 0.4917;
	transform: translateX(84.5355vw) scale(0.7811);
	animation: fall-8 7s -20s ease-in-out infinite, fall-down 21s -20s linear infinite;
}

@keyframes fall-8 {
	50% {
		transform: translateX(88.8427vw) scale(0.7811);
	}
	to {
		transform: translateX(84.5355vw) scale(0.7811);
	}
}
.hearts__item:nth-child(9) {
	opacity: 0.9989;
	transform: translateX(43.0811vw) scale(0.7394);
	animation: fall-9 3.6666666667s -19s ease-in-out infinite,
		fall-down 11s -19s linear infinite;
}

@keyframes fall-9 {
	50% {
		transform: translateX(40.4019vw) scale(0.7394);
	}
	to {
		transform: translateX(43.0811vw) scale(0.7394);
	}
}
.hearts__item:nth-child(10) {
	opacity: 0.3331;
	transform: translateX(14.5272vw) scale(0.9466);
	animation: fall-10 8s -14s ease-in-out infinite,
		fall-down 24s -14s linear infinite;
}

@keyframes fall-10 {
	50% {
		transform: translateX(14.4947vw) scale(0.9466);
	}
	to {
		transform: translateX(14.5272vw) scale(0.9466);
	}
}
.hearts__item:nth-child(11) {
	opacity: 0.7874;
	transform: translateX(32.343vw) scale(0.8878);
	animation: fall-11 5.3333333333s -26s ease-in-out infinite,
		fall-down 16s -26s linear infinite;
}

@keyframes fall-11 {
	50% {
		transform: translateX(33.1862vw) scale(0.8878);
	}
	to {
		transform: translateX(32.343vw) scale(0.8878);
	}
}
.hearts__item:nth-child(12) {
	opacity: 0.7845;
	transform: translateX(53.334vw) scale(0.5428);
	animation: fall-12 8s -14s ease-in-out infinite,
		fall-down 24s -14s linear infinite;
}

@keyframes fall-12 {
	50% {
		transform: translateX(50.896vw) scale(0.5428);
	}
	to {
		transform: translateX(53.334vw) scale(0.5428);
	}
}
.hearts__item:nth-child(13) {
	opacity: 0.6679;
	transform: translateX(1.6297vw) scale(0.967);
	animation: fall-13 9s -7s ease-in-out infinite, fall-down 27s -7s linear infinite;
}

@keyframes fall-13 {
	50% {
		transform: translateX(3.2128vw) scale(0.967);
	}
	to {
		transform: translateX(1.6297vw) scale(0.967);
	}
}
.hearts__item:nth-child(14) {
	opacity: 0.795;
	transform: translateX(36.727vw) scale(0.6829);
	animation: fall-14 8s -19s ease-in-out infinite,
		fall-down 24s -19s linear infinite;
}

@keyframes fall-14 {
	50% {
		transform: translateX(35.9898vw) scale(0.6829);
	}
	to {
		transform: translateX(36.727vw) scale(0.6829);
	}
}
.hearts__item:nth-child(15) {
	opacity: 0.7073;
	transform: translateX(18.1068vw) scale(0.8622);
	animation: fall-15 4s -15s ease-in-out infinite,
		fall-down 12s -15s linear infinite;
}

@keyframes fall-15 {
	50% {
		transform: translateX(21.1796vw) scale(0.8622);
	}
	to {
		transform: translateX(18.1068vw) scale(0.8622);
	}
}
.hearts__item:nth-child(16) {
	opacity: 0.4177;
	transform: translateX(55.8493vw) scale(0.5772);
	animation: fall-16 3.3333333333s -5s ease-in-out infinite,
		fall-down 10s -5s linear infinite;
}

@keyframes fall-16 {
	50% {
		transform: translateX(51.6173vw) scale(0.5772);
	}
	to {
		transform: translateX(55.8493vw) scale(0.5772);
	}
}
.hearts__item:nth-child(17) {
	opacity: 0.8419;
	transform: translateX(18.1914vw) scale(0.742);
	animation: fall-17 7.6666666667s -14s ease-in-out infinite,
		fall-down 23s -14s linear infinite;
}

@keyframes fall-17 {
	50% {
		transform: translateX(19.5301vw) scale(0.742);
	}
	to {
		transform: translateX(18.1914vw) scale(0.742);
	}
}
.hearts__item:nth-child(18) {
	opacity: 0.7688;
	transform: translateX(60.5684vw) scale(0.9014);
	animation: fall-18 5.6666666667s -21s ease-in-out infinite,
		fall-down 17s -21s linear infinite;
}

@keyframes fall-18 {
	50% {
		transform: translateX(61.8729vw) scale(0.9014);
	}
	to {
		transform: translateX(60.5684vw) scale(0.9014);
	}
}
.hearts__item:nth-child(19) {
	opacity: 0.9619;
	transform: translateX(52.4507vw) scale(0.7489);
	animation: fall-19 8.6666666667s -30s ease-in-out infinite,
		fall-down 26s -30s linear infinite;
}

@keyframes fall-19 {
	50% {
		transform: translateX(50.6113vw) scale(0.7489);
	}
	to {
		transform: translateX(52.4507vw) scale(0.7489);
	}
}
.hearts__item:nth-child(20) {
	opacity: 0.6576;
	transform: translateX(68.4437vw) scale(0.7561);
	animation: fall-20 7.6666666667s -17s ease-in-out infinite,
		fall-down 23s -17s linear infinite;
}

@keyframes fall-20 {
	50% {
		transform: translateX(72.3868vw) scale(0.7561);
	}
	to {
		transform: translateX(68.4437vw) scale(0.7561);
	}
}
