$size: 40px;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

.hearts {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 0;
	overflow: hidden;

	&__item {
		$total: 20;
		position: absolute;
		height: $size;
		width: $size;
		line-height: $size;
		color: white;
		font-size: $size;
		text-align: center;
		user-select: none;
		text-shadow: 0 0 10px white;
    filter: drop-shadow(0 0 5px #ff20dd55);

		@for $i from 1 through $total {
			$random-x: random(1000000) * 0.0001vw;
			$random-offset: (random(1) * 2 - 1) * randomNum(20000, 50000) * 0.0001vw;
			$random-x-end: $random-x + $random-offset;
			$random-scale: random(5000) * 0.0001 + 0.5;
			$fall-duration: (1.5 - $random-scale) * 20s;
			$fall-delay: random(30) * -1s;

			&:nth-child(#{$i}) {
				opacity: $random-scale * 0.6 + 0.3;
				transform: translateX($random-x) scale($random-scale);
				animation-name: fall-#{$i}, fall-down;
				animation-duration: $fall-duration * (random(30) * 0.01 + 0.2), $fall-duration;
				animation-delay: $fall-delay, $fall-delay;
				animation-timing-function: ease-in-out, linear;
				animation-iteration-count: infinite, infinite;
			}

			@keyframes fall-#{$i} {
				50% {
					transform: translateX($random-x-end) scale($random-scale);
				}
				
				to {
					transform: translateX($random-x) scale($random-scale);
				}
			}
		}
	}
}

@keyframes fall-down {
	from {
		top: -50px;
	}
	to {
		top: 100vh;
	}
}
