<ng-container
  *ngIf="{
    step: facade.step$ | async,
    optionsStep: optionsStep$ | async,
    resultStep: resultStep$ | async
  } as context">
  <div class="page">
    <img class="page__bg" [lazyLoad]="bgImage" (onStateChange)="facade.onBgState($event)"/>
    <image-card
      class="page__card"
      [class.page__card--visible]="context.step?.name === 'compliments'"
      *ngFor="let item of facade.kennyImages"
      [source]="item.source"
      [style.--x]="item.x + '%'"
      [style.--y]="item.y + '%'"
      [style.--delay]="item.delay + 's'"
      [style.--rotate]="item.rotate + 'deg'"></image-card>

    <option-card
      class="page__card"
      [class.page__card--visible]="context.step?.name === 'options'"
      [style.z-index]="context.optionsStep ? 3 : 'unset'"
      *ngFor="let item of facade.options"
      [option]="item"
      [style.--x]="item.x + '%'"
      [style.--y]="item.y + '%'"
      [style.--delay]="0.2 + item.delay + 's'"
      [style.--rotate]="item.rotate + 'deg'"></option-card>

    <option-card
      *ngIf="context.step?.name === 'result'"
      class="page__card"
      [style.z-index]="context.resultStep ? 3 : 'unset'"
      [qrValue]="qrValue"
      [class.page__card--visible]="context.resultStep"
      [style.--x]="'20%'"
      [style.--y]="'0%'"
      [style.--delay]="'0s'"
      [style.--rotate]="'15deg'"></option-card>
    <div class="page__maggie">
      <maggie
        class="page__maggie-content"
        [class.page__maggie-content--left]="context.step?.name === 'result'"
        [class.page__maggie-content--small]="['compliments', 'options'].includes(context.step?.name || '')"></maggie>
      <button
        *ngIf="context.step?.button as button"
        class="btn btn-lg btn-pill btn-main"
        [disabled]="context.step?.name === 'options' && optionsNotChecked"
        [@fadeInOut]="button"
        (click)="next()">
        {{ button }}
      </button>
    </div>
  </div>
</ng-container>
<flying-hearts></flying-hearts>