<ng-container
  *ngIf="{
    step: facade.step$ | async
  } as context">
  <div class="page">
    <img class="page__bg" [lazyLoad]="bgImage" (onStateChange)="facade.onBgState($event)"/>
    <image-card
      class="page__card"
      [class.page__card--visible]="context.step?.name === 'compliments'"
      *ngFor="let item of facade.kennyImages"
      [source]="item.source"
      [style.--x]="item.x + '%'"
      [style.--y]="item.y + '%'"
      [style.--delay]="item.delay + 's'"
      [style.--rotate]="item.rotate + 'deg'"></image-card>
    <div class="page__maggie">
      <maggie
        class="page__maggie-content"
        [class.page__maggie-content--small]="context.step?.name === 'compliments'"></maggie>
      <button
        *ngIf="context.step?.button as button"
        class="btn btn-lg btn-pill btn-main"
        [@fadeInOut]="button"
        (click)="facade.nextStep()">
        {{ button }}
      </button>
    </div>
  </div>
</ng-container>
<flying-hearts></flying-hearts>