<ng-container *ngIf="option; else qrCodeTmp">
  <div class="option-card" (click)="option.checked = !option.checked">
    <div class="option-card__container">
      <ng-container *ngIf="option.type === 'video'; else imageTmp">
        <video
          class="option-card__video"
          playsinline
          defaultMuted
          preload="auto"
          disablePictureInPicture
          loop
          [class.option-card__video--loaded]="videoLoaded$ | async"
          [autoplay]="true"
          [muted]="'muted'"
          (loadeddata)="videoLoaded$.next(true)">
        <source [src]="option.source" [type]="option.videoType" />
      </video>
      </ng-container>

      <ng-template #imageTmp>
        <img class="option-card__image" [lazyLoad]="option.source">
      </ng-template>

      <div
        *ngIf="option.checked"
        class="option-card__overlay"
        [@fadeInOut]="option.checked">
        <div class="option-card__check">♥</div>
      </div>
    </div>

    <div class="option-card__text">
      {{ option.name }}
    </div>
  </div>
</ng-container>

<ng-template #qrCodeTmp>
  <div class="option-card option-card--qr" (click)="download()">
    <div class="option-card__container">
      <canvas #canvasRef class="option-card__image option-card__image--canvas"></canvas>

      <div class="option-card__overlay option-card__overlay--hover">
        <div class="option-card__icon">
          <img [src]="iconLink">
        </div>
      </div>
    </div>
    <div class="option-card__text">
      valentine's day ticket for Kenny
    </div>
  </div>
</ng-template>