:host {
	display: block;
}

.popup {
	padding-bottom: 10px;
	transition: all 0.5s ease-in-out;
	transform: translateY(10px);
	visibility: hidden;
	opacity: 0;

	&--visible {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	&--upsideDown {
		transform: rotate(180deg);
		&.popup {
			span {
				&::after,
				&::before {
					bottom: 100%;
					top: initial;
					border-top: none;
				}

				&::after {
					border-bottom: 13.5px solid #fff;
				}
			}
		}
	}

	&--top {
		span {
			&::after,
			&::before {
				top: 100%;
			}

			&::after {
				border-top: 13.5px solid #fff;
			}
		}
	}

	&--bottom {
		span {
			&::after,
			&::before {
				bottom: 100%;
			}

			&::after {
				border-bottom: 13.5px solid #fff;
			}
		}
	}

	&__wrapper {
		display: flex;

		&--top {
			flex-direction: column;
		}

		&--bottom {
			flex-direction: column-reverse;
		}
	}

	span {
		display: inline-block;
		padding: 16px 24px;
		border-radius: 10px;
		font-size: 24px;
		line-height: 1.4;
		background: #fff;
		position: relative;
		box-shadow: 0 5px 15px #be57b9;
		color: #5d0e59;

		&::after,
		&::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 15px;
			// top: 100%;
			left: var(--offset, 50%);
			transform: translateX(-50%);
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			transition: left 0.3s ease-in-out;
		}

		&::after {
			border-left-width: 18.5px;
			border-right-width: 18.5px;
			width: 37px;
		}
	}
}
