$host: '.maggie';

.maggie {
  position: relative;

  &__image {
    position: relative;
    width: 545px;
    height: 638px;

    #{$host}--angry {
      width: 403px;
      height: 517px;
    }
  }

  &__shadow {
    position: absolute;
    display: block;
    left: 55%;
    bottom: 80px;
    width: 80%;
    height: 20%;
    transform: translateX(-50%) rotate(-15deg);
    border-radius: 50%;
    background-color: rgb(68 0 80 / 40%);
    filter: blur(30px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:has(~ .ng-lazyloaded) {
      opacity: 1;
    }
  }

  &__text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: 40%;
    max-width: 550px;
    width: 100%;
    transition: bottom 0.2s ease-in-out;

    #{$host}--angry & {
      bottom: 35%;
    }
  }

  &__eye {
    position: absolute;
    color: #ff0065;
    opacity: 0;
    top: 24%;
    transform: translateX(-50%);
    font-size: 56px;
    transition: opacity 0.3s ease-in-out;

    #{$host}__eyes--visible & {
      opacity: 1;
    }

    &--1 {
      left: calc(48% - 48px);
    }

    &--2 {
      left: calc(48% + 48px);
    }
  }

  &__input {
    width: 100%;
    outline: 0;
    padding: 20px 24px 16px;
    margin-top: 16px;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 200px;
    border: 0;
    box-shadow: inset 0 6px #652b63;
    border-bottom: 0;
    background: #652b6322;
    color: #652b63;
  }
}