<ng-container *ngIf="{
  step: facade.step$ | async
} as context">
  <div class="maggie" [class.maggie--angry]="context.step?.maggie?.angry">
    <div class="maggie__shadow"></div>
    <img
      *ngIf="context.step?.maggie?.angry ? facade.maggieAngry : facade.maggieDefault as image"
      class="maggie__image"
      [lazyLoad]="image"
      [decode]="true"
      [@fadeInOut]="image"
      (onStateChange)="facade.onMaggieState($event)"/>

    <div class="maggie__eyes" [class.maggie__eyes--visible]="context.step?.maggie?.eyes">
      <div class="maggie__eye maggie__eye--1">❤️</div>
      <div class="maggie__eye maggie__eye--2">❤️</div>
    </div>

    <popup
      *ngIf="context.step?.maggie?.text as text"
      class="maggie__text"
      [text]="text"
      alignment="bottom"
      caretOffset="45%"
      [isVisible]="true"></popup>
  </div>
</ng-container>