/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; position: relative; max-height: 100vh; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  transition: opacity 0.3s ease-in-out;

  &.ng-lazyloading {
    opacity: 0;
  }

  &.ng-failed-lazyloaded,
  &.ng-lazyloaded {
    opacity: 1;
  }
}

.preloader {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: 1000;

  &--hidden:not(&--error) {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    width: 150px;
    height: 150px;
    animation: preloader 1s ease infinite;

    .preloader--hidden &,
    .preloader--error & {
      animation: none;
    }
  }

  &__text {
    display: none;
    color: #652b63;
    font-size: 24px;
    max-width: 400px;
    line-height: 1.4;
    text-align: center;
    padding: 16px;

    .preloader--error & {
      display: block;
    }
  }
}

@keyframes preloader {
  0% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}